<!-- <nav  class="navbar navbar-expand-lg navbar-light"  style="background-color:black;">
  <div class="container">
    <div class="navbar-header">

     
      <a  class="navbar-brand"  routerLink="/negocios" style="color: white">ELESTOR Dashboard</a>

    </div>

        <div  class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li  class="nav-item">
                 <a  class="nav-link"  routerLink="/negocios" style="color: white">Negocios</a>
              </li>
              <li  class="nav-item">
                  <a  class="nav-link"  href="/pedidos" style="color: white">Pedidos</a>
              </li>
              <li  class="nav-item">
                 <a  class="nav-link"  href="/cupones" style="color: white">Cupones</a>
              </li>
              <li  class="nav-item">
                  <a  class="nav-link"  href="/about" style="color: white">About</a>
              </li>
          </ul>
    </div>
  </div>
</nav>


<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
               
        <a class="navbar-brand" href="#">ELESTOR Dashboard</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li  class="nav-item">
                           <a  class="nav-link"  routerLink="/negocios" style="color: red">Negocios</a>
                        </li>
                        <li  class="nav-item">
                            <a  class="nav-link"  href="/pedidos" style="color: red">Pedidos</a>
                        </li>
                        <li  class="nav-item">
                           <a  class="nav-link"  href="/cupones" style="color: red">Cupones</a>
                        </li>
                        <li  class="nav-item">
                            <a  class="nav-link"  href="/about" style="color: red">About</a>
                        </li>
                    </ul>
         
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
        </div>