<div class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <h2>Tabla de Pedidos</h2>
    <div class="table-responsive">         
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>No. de Pedido</th>
          <th>Hora de Pedido</th>
          <th>Proveedor</th>
          <th>Categoria</th>
          <th>SubCategoria</th>
          <th>Domicilio</th>
          <th>Telefono</th>
          <th>Monto del Pedido</th>
          <th>Metodo de Pago</th>
          <th>Cliente</th>
          <th>Domicilio</th>
          <th>Telefono</th>
          <th>Repartidor</th>
          <th>Km Repartidor-Cliente</th>
          <th>Monto de Reparto</th>
          <th>Tiempo en Comercio</th>
          <th>Tiempo en Destino</th>
          <th>Calificacion</th>
       </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>