<div class="container">
    <!-- <h2 style="text-align: center; color: red">Negocios</h2> -->
    <div class="table-responsive">         
    <table class="roundedCorners">
      <thead>
        <tr>
          <th>nombre</th>
          <th>callenumero</th>
          <th>colonia</th>
          <th>estado</th>
          <th>codigopostal</th>
          <th>horaapertura</th>
          <th>horacierre</th>
          <th>categoria</th>
          <th>subcategoria</th>
          <th>descripcion</th>
          <th>Ver en Google Maps</th>
       </tr>
      </thead>
      <tbody>
        <tr *ngFor="let negocio of negocioModel">
          <td>{{negocio.nombre}}</td>
          <td>{{negocio.callenumero}}</td>
          <td>{{negocio.colonia}}</td>
          <td>{{negocio.estado}}</td>
          <td>{{negocio.codigopostal}}</td>
          <td>{{negocio.horaapertura}}</td>
          <td>{{negocio.horacierre}}</td>
          <td>{{negocio.categoria}}</td>
          <td>{{negocio.subcategoria}}</td>
          <td>{{negocio.descripcion}}</td>
          <td>
            <button class="button" (click)="verEnMaps(negocio, $event)">
              Maps
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>