.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }
/* 
  table.roundedCorners { 
    border: 1px solid blue;
    border-radius: 13px; 
    border-spacing: 0;
    border-collapse: unset
    }
    
  table.roundedCorners td, 
  table.roundedCorners th { 
    border-bottom: 1px solid blue;
    padding: 10px; 
    }
  table.roundedCorners tr:last-child > td {
    border-bottom: none;
  }

  select.SelectStyle{
    border: aquamarine
  }
 */
 table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color:cadetblue;}