<div class="container">
  <h2 style="text-align: center; color: red">Negocios</h2>
    <div class="table-responsive row">
        <div class="column">
          <label>
              Categorias 
          </label>
        </div>
        <div class="column">
            <select class="SelectStyle" (change)="filtrarNegocios($event)">
                <option value="-6">Todas</option>
                <option [value]="cat.descripcion" *ngFor="let cat of catnegocio">
                  {{cat.descripcion}}
                </option>
              </select>
        </div>
      </div>
    <div class="table-responsive">         
    <!-- <table class="roundedCorners"> -->
      <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Calle #</th>
          <th>Colonia</th>
          <th>Estado</th>
          <th>CP</th>
          <th>Hora Apertura</th>
          <th>Hora Cierre</th>
          <th>Categoria</th>
          <th>Subcategoria</th>
          <th>Descripcion</th>
          <th>Ver en Google Maps</th>
       </tr>
      </thead>
      <tbody>
        <tr *ngFor="let negocio of negocioModel">
          <td>{{negocio.nombre}}</td>
          <td>{{negocio.callenumero}}</td>
          <td>{{negocio.colonia}}</td>
          <td>{{negocio.estado}}</td>
          <td>{{negocio.codigopostal}}</td>
          <td>{{negocio.horaapertura}}</td>
          <td>{{negocio.horacierre}}</td>
          <td>{{negocio.categoria}}</td>
          <td>{{negocio.subcategoria}}</td>
          <td>{{negocio.descripcion}}</td>
          <td>
            <button class="button" (click)="verEnMaps(negocio, $event)">
              Maps
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>